body {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: white;
  text-align: center;
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
  margin: 0px 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#icon {
  font-size: 100px;
  padding: 0px 0px 0px;
}
.emoji {
  font-size: 35px;
}
.temperature {
  font-size: 70px;
}
.bar {
  position: fixed;
  right: 0;
  top: 0;
}
#description {
  text-transform: capitalize;
}
#celsius-link {
  text-decoration: none;
}
#fahren-link {
  text-decoration: none;
}
.units {
  position: relative;
  font-size: 16px;
  top: -40px;
}
.units .active {
  color: white;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
